# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
Signet.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# macOS
.DS_Store

# Node (Taquito bridge)
node_modules/

# Release artefacts
dist/
